*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.header {
    height: 100%;
    display: flex;
    background-color: rgb(240, 240, 91);
    justify-content: space-around;
}

#logo1 {
    display: flex;
    height: 30%;
    align-items: start;
}

#logo2 {
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
