*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root {
    --a--color: #F5CB00;
}   


.header {
    height: 100%;
    display: flex;
    background-color: var(--a--color);
}

#logo1 {
    display: flex;
    height: 50%;
    padding: 0px 120px;
    padding-right: 1100px
}

#logo2 {
    height: 50%;
    display: flex;
    margin-top: 20px;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.part2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    width: 100%;
    height: 870px;
}

#image01 {
    width: 50%;
    margin-top: 60px;
    margin-left: 180px;
}

#right {
    margin-right: 80px;
    margin-top: 115px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#right h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 300px;
    font-size: 80px;
    width: 490px;
}

#right p {
    font-size: 20px;
    display: flex;
    line-height: 19px;
    margin-right: 300px;
    width: 500px;
}

#buttom1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--a--color);
    font-size: 18px;
    height: 40px;
    width: 140px;
    margin-top: 35px;
    margin-right: 650px;
}

.part3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    background-color:#E6E6E6;
    margin-top: -205px;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    margin-left: 250px;
    height: 440px;
    width: 60%;
    border: 2px solid transparent;
}

#box1{
    height: 50%;
    margin-left: 70px;
    background-size: var(--a--color);
}

#box1 h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--a--color);
    font-size: 45px;
    width: 300px;
}

#box1 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: 300px;
}

#box2 {
    display: flex;
    justify-content: space-evenly;
    padding-left: 250px;
    width: 50%;
}

.part4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    background-color: var(--a--color);
    height: 1200px;
}

#left {
    display: flex;
    flex-direction: column;
    padding-top: 350px;
    font-size: 40px;
    margin-left: 220px;
}

#left p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: 450px;
    margin-bottom: 30px;
}

#left button {
    font-size: 15px;
    color: white;
    background-color: black;
    height: 40px;
    width: 135px;
}

#left img {
    position: absolute;
    display: flex;
    margin-top: 123px;
    margin-left: 500px;
    width: 950px;
}

.part5 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height:730px;
}

.box5 {
    height: 610px;
    width: 67%;
    background-color:#E6E6E6;
    display: flex;
    align-items: center;
    margin-left: 210px;
    margin-top: 100px;
    border: 2px solid transparent;
}

#box-left {
    width: 50%;
}

#box-left img {
    height: 610px;
    width: 600px;
}

#box-right {
    display: flex;
    margin-bottom: 200px;
    flex-direction: column;
    width: 50%;
    height: 60%;
}

#box-right h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    color: var(--a--color);
    padding: 0 0 10px;
}

#box-right p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 22px;
    font-size: 17px;
    width: 400px;
}

#buttom2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 16px;
    height: 40px;
    width: 140px;
    margin-top: 35px;
}

#img5 {
    position: absolute;
    height: 170px;
    margin-top: 270px;
    height: 270px;
    margin-left: 300px;
}

.part6 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   width: 100%;
   height: 870px;
   background-color: black;
}

#box6 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 65px;
}

#box6 h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 55px;
    font-size: 35px;
    color: var(--a--color);
}

#box6 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    text-align: center;
    color: white;
    width: 620px;
}

#box6 img {
    margin-top: 45px;
}

#buttom3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--a--color);
    color: black;
    font-size: 16px;
    height: 40px;
    width: 180px;
    margin-top: 35px;
}

.part7 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
}

.part7 img {
    position: absolute;
    width: 900px;
    height: 750px;
    margin-top: 150px;
    margin-left: 170px;
}

.part7 h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items:center;
    font-size: 42px;
    margin-top: 450px;
    margin-left: 1130px;
}

.part7 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin-top: 25px;
    margin-left: 1130px;
    width: 550px;
}

#buttom4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--a--color);
    font-size: 16px;
    height: 40px;
    width: 180px;
    margin-top: 30px;
    margin-left: 1130px;
    border: #E6E6E6;
}

.part8 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    background-color: #E6E6E6;
    flex-direction: column;
    width: 100%;
    height: 880px;
}

.part8 img {
    position: absolute;
    margin-top: 100px;
    margin-left: 850px;
}

.part8 h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items:center;
    font-size: 52px;
    margin-top: 270px;
    margin-left: 170px;
    width: 550px;
}

.part8 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin-top: 25px;
    margin-left: 170px;
    width: 550px;
    font-size: 17px;
}

#buttom5{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--a--color);
    font-size: 16px;
    height: 40px;
    width: 180px;
    margin-top: 50px;
    margin-left: 170px;
    border: #E6E6E6;
}

.part9 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    width: 100%;
    height: 950px;
    background-color: white;
}

.box-down1 {
    display: flex;
    width: 50%;
}

#box-right2 {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    width: 65%;
    height: 620px;
    margin-left: 200px;
    margin-top: 200px;
}

#box-right2 label {
    display: flex;
}

#up {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 65%;
    color: white;
    margin-left: 10px;
}

#box01 {
    display: flex;
    height: 20px;
    width: 100px;
    background-color: #000000;
    border-color: white;
    flex-direction: column;
}

#box02 {
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 120px;
    background-color: #000000;
    border-color: white;
    margin-left: 50px;
}

#up label {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

#down {
    display: flex;
    flex-direction: column;
}

#box03 {
    display: flex;
    height: 20px;
    width: 120px;
    background-color: #000000;
    border-color: white;
}

#box04 {
    display: flex;
    height: 20px;
    width: 120px;
    background-color: #000000;
    border-color: white;
}

#box05 {
    display: flex;
    height: 20px;
    width: 120px;
    background-color: #000000;
    border-color: white;
}

#box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#box-left h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items:center;
    color: var(--a--color);
    font-size: 40px;
    width: 400px;
}

#box-left p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin-top: 15px;
    width: 550px;
}

#buttom6{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 16px;
    height: 40px;
    width: 180px;
    margin-top: 50px;
    margin-bottom: -100px;
}

/* otra part */

.part10 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    background-color: var(--a--color);
    width: 100%;
    height: 800px;
    padding-top: 70px;
    flex-direction: column;
    align-items: center;
}

.part10 h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}

.part10 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#buttom6{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-size: 16px;
    height: 50px;
    width: 180px;
    margin-top: 50px;
    border: #E6E6E6;
    font-size: 20px;
}

.part11 {
    display: flex;
    width: 100%;
    height: 760px;
    background-color: black;
    color: white;
}

#img-down {
    position: absolute;
    padding-top: 50px;
    padding-left: 110px;
    width: 100px;
    height: 90px;
}

#right-part {
    display: flex;
    flex-direction: column;
    padding-top: 400px;
    padding-left: 110px;
    line-height: 27px;
    width: 8%;
    color: var(--a--color);
    font-size: 23px;
}

#left-part {
    display: flex;
    flex-direction: column;
     padding-top: 400px;
     line-height: 27px;
     width: 8%;
     color: var(--a--color);
     font-size: 23px;
}

.linea-vertical {
    margin-top: 600px;
    margin-left: 100px;
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #ccc;
}

#footer-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 650px;
    padding-left: 110px;
    line-height: 27px;
    width: 8%;
    color: var(--a--color);
    font-size: 23px;
}

#footer-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 650px;
    padding-left: 230px;
    line-height: 27px;
    width: 20%;
    color: var(--a--color);
    font-size: 23px;
}

.linea-vertical2 {
    margin-top: 655px;
    margin-left: 215px;
    position: absolute;
    width: 2px;
    height: 20px;
    background-color:var(--a--color);
}

#images img{
    margin-left: 10px;
    filter: invert(100%) hue-rotate(70deg) brightness(1.2);
    width: 20px;
    height: 20px;
    ma: 600px;
    padding-top: 652px;

}

